body,
html {
  line-height: 1;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif,
    'Droid Sans Fallback';
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: $color-background;
  color: $color-text;
}

.g-relative {
  position: relative;
}
// 公共 slider 过渡样式
.slider-enter-active {
  animation: slider-in-out 0.3s ease;
}
.slider-leave-active {
  animation: slider-in-out 0.3s ease reverse;
}
@keyframes slider-in-out {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

// .list-enter-active, .list-leave-active {
//   transition: all 0.3s;
// }

// .list-enter-from, .list-leave-to {
//   height: 0 !important;
// }

// @keyframes rotate {
//   0% {
//     transform: rotate(0)
//   }

//   100% {
//     transform: rotate(360deg)
//   }
// }
